<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MultiPubZ.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <MultiPubZ.My.MySettings>
            <setting name="InputFolder" serializeAs="String">
                <value>D:\Scripts\NatFeat\Input</value>
            </setting>
            <setting name="ErrorFolder" serializeAs="String">
                <value>D:\Scripts\NatFeat\Error</value>
            </setting>
            <setting name="MatchedFolder" serializeAs="String">
                <value>D:\Scripts\NatFeat\MatchedFolder</value>
            </setting>
            <setting name="PubList" serializeAs="String">
                <value>PRSED1,DOMED1,WATED1,SOTED1,TADED1,MADED1,MAEED1,NEMED1,TIHED1</value>
            </setting>
            <setting name="DaysToAdd" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PubToMatch" serializeAs="String">
                <value>SUSED1</value>
            </setting>
        </MultiPubZ.My.MySettings>
    </userSettings>
</configuration>